*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;

}


#navbar{
    position: fixed;
    left: 0;
    
    background-color: #ffffff;
    padding-top: 10px ; 
    width: 300px;
    height: 100vh;
    border-right: 5px solid black;

}
#navbar ul {
    height: 91.3%;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  
}
#navbar ul li{
    border-bottom: 2px solid black;
    width: 100%;
    display: block;
    height: 40px;
    
}
a{
    text-decoration: none;
    color: #4d4e53;
}
nav h1{
    border-bottom:2px solid black;
    padding: 15px 0 15px 0;
    margin: 0;
}
main{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    
}
.main-header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
   

}
.main-header h2 {
   
    padding: 10px 10px 10px 30px;  
    border-bottom:2px solid black;

}

.main-section{
    padding-left: 30px;
}
code{
    display: block;
    background-color: #d2d2d2;
    border-radius: 5px;
    
    margin: 0 50px 0 40px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
form{
    float: left;
}  
 /*--------------------------                       Task media@              */
.formcode{
    margin-left: 15vw;
}
.selectors code{
    display: inline-block;
    width: 150px;
  margin: 0 10vw 10px 0;
    margin-left: 0px;
  height: 50px;
  text-align: center;
  padding-top:15px ;
  
}
.selectors li{
    width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-top: 20px;
}
#Proporties_Overview code{
    width: 25%;
    padding: 5px 10px; 
    line-height: 1.3rem;
    margin-top: 10px;
}

#boxmodel{
display: flex;
  
}
#box{
    display: inline-block;
  width: 20%;
  margin: 5rem;
  margin: 40px;
}
#box p{
    padding: 30px;
  border: 3px dotted black;
}
.float-example{
    border:3px solid black;
    margin-right: 30px;
}

.float-example img{
    float: left;
    width: 200px;
    margin: 0 10px 10px 10px;
}
#right{
    float: right;
}
#CSS_Efects ul li{
    line-height: 1.2em;
}
#CSS_Efects ul li ul{
    margin-top: 10px;
   list-style: none;
}